<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add product</title>
    <link rel="stylesheet" href="../static/css/abc.css">
</head>
<body>
       <%- include('common/nav') %>
       <h1 class="myheading">Add Products</h1>
       <center>
          <form action="/Add_Product" method="post" enctype="multipart/form-data">
              Name <input type="text" name="name" required><br><br>
              Price <input type="text" name="price" required><br><br>
              Photo <input type="file" name="photo" required><br><br>
              Description <textarea name="description" required></textarea><br><br>
              <button>Add Product</button>
          </form>
          <% if(locals.message)
          {%>
              <h3><%=message%></h3>
          <%}%>
       </center>
</body>
</html>