<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/abc.css"/>
</head>

<body>
    <%- include('common/nav') %>
        <hr>
        <h1 class="myheading">Welcome TO Shopping.com</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi assumenda id maiores atque perferendis
            nostrum autem nesciunt, nam consequuntur amet ipsam eveniet itaque dolore iure harum. Vero impedit est,
            tenetur debitis saepe sint nihil adipisci doloribus perferendis autem alias corrupti possimus, veniam fuga
            numquam totam? Repellendus consequatur, odit vero eaque culpa facere dolores dicta eum tenetur voluptatem
            cumque molestias excepturi ipsam odio sed fuga adipisci, consectetur natus magnam tempore. Odit eum quam
            ipsam eos consequatur ducimus aliquam fuga cupiditate sapiente exercitationem, praesentium beatae veniam
            repellat fugiat. Repellat autem, voluptatum distinctio perferendis iusto nostrum veniam quis commodi
            explicabo ad cumque enim fugit dolorum animi impedit quaerat eaque dolorem quas eius! Ut maiores eius at
            similique, eos doloribus in iure quasi! Exercitationem ut aspernatur officiis. Quia perspiciatis alias
            dolores labore earum minima veniam maxime? Nesciunt minus sed iusto, eaque eos laborum distinctio placeat
            suscipit nam explicabo animi aspernatur voluptatum fugit! Rerum, exercitationem nesciunt vero nulla quisquam
            aperiam sit maiores eaque molestias, illo dolore officia provident odio, consequuntur veniam dicta natus est
            in doloribus. Omnis voluptatum quos nisi sed quae fugit a eum sint quas excepturi nesciunt nam rem iure,
            rerum obcaecati? Est quae, totam consequatur sint aut nemo fugiat dicta esse cupiditate.
        </p>
        <hr>
        <h1 align="center">Why Choose Us?</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel nulla corporis voluptatem odio magnam enim at
            assumenda fugiat ea sint. Totam, cupiditate tempora vitae laboriosam ea magnam voluptate unde suscipit
            nesciunt ipsa laudantium rem voluptates laborum reprehenderit fuga accusantium voluptatum sit quidem culpa
            autem debitis! Praesentium voluptatem pariatur laborum inventore dolor totam aliquid, architecto recusandae,
            temporibus nam repellat consectetur assumenda? Magnam ea in itaque facere vero assumenda at quasi cupiditate
            iste adipisci, repudiandae ipsum voluptates nam, perspiciatis magni eaque recusandae delectus nulla
            consequatur cumque? Quisquam minima nemo voluptatum, molestiae labore officia eligendi pariatur nisi hic
            saepe praesentium repellat tempore qui architecto nulla commodi ullam esse ut dolore recusandae aspernatur
            iusto mollitia. Non accusantium, tenetur alias voluptate necessitatibus aliquam labore. Commodi aliquam
            ipsam dolor ipsum numquam possimus enim voluptates, quam a culpa temporibus minima laboriosam quod provident
            voluptas maxime aut sint nesciunt rem! Quibusdam quas expedita eum odio distinctio, aliquid officia
            recusandae sapiente explicabo repellendus neque. Veniam facilis quibusdam adipisci similique rem possimus?
            Animi labore cumque culpa, ad perferendis accusantium beatae, sapiente, corporis assumenda unde quod. Fugiat
            possimus eligendi delectus rerum tempora aperiam nulla eos id libero, laboriosam, neque quas molestiae sequi
            quaerat veniam assumenda ex deleniti similique incidunt, dicta soluta? Non quos numquam harum officia nobis
            earum quam cupiditate placeat aut quod, voluptate consequuntur unde minus veniam modi et repellat pariatur
            odit dolor? Cumque obcaecati libero aspernatur reiciendis iure doloribus, eligendi qui sit, vel voluptas
            laborum nemo natus delectus ea repudiandae iusto perspiciatis nostrum eos aut deleniti ullam sint nulla?
            Iste, officia dolor! Quasi non distinctio, repellendus debitis molestiae tempore maxime modi quis amet
            veniam? Error possimus praesentium perspiciatis id voluptate quo molestias numquam, aperiam blanditiis
            repellendus nobis doloremque nulla alias quasi minima rerum eveniet eius consectetur exercitationem magni!
            Labore voluptatibus itaque aut accusantium officiis ipsam. Laboriosam nesciunt aperiam labore!</p>
</body>

</html>