<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylsheet" href="../static/css/abc.css">
</head>
<body>
      <%- include('common/nav') %>
      <h1 class="myheading">Our Products</h1>
      <hr>
      
</body>
</html>